<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        .heading{
            text-align: center;
            font-family: 'Poppins',sans-serif;
        }
        .name{
            width: 200px;
            height: 200px;
            float: left;
            padding: 20px;
        }
        .c1{
            margin: 100px;
        }
        h3,h2{
            font-family: 'Poppins',sans-serif;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="heading">About Us</h1>
    <h2>Introduction: </h2>
    <div class="c1">
        <img src="{{ url_for('static', filename='images/AMMAR PHOTO2.jpg') }}" class="name">
        <h3>Ammar Ansari</h3>
        <p><h3>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor i
            ncididunt ut labore et dolore magna aliqua
            . Morbi non arcu risus quis varius quam
            quisque. Urna et pharetra pharetra massa
            massa. Rutrum quisque non tellus orci ac
            auctor augue mauris. Et tortor consequat
            id porta nibh. Orci dapibus ultrices in
            iaculis nunc sed. Ac tincidunt vitae
            semper quis lectus nulla. Facilisis
            mauris sit amet massa vitae tortor
            condimentum lacinia. Urna porttitor
            rhoncus dolor purus non enim. Est lorem
            ipsum dolor sit amet consectetur adip
            iscing. Quam id leo in vitae. Nulla ali
            quet enim tortor at auctor urna. Augue
            ut lectus arcu bibendum at varius vel
            pharetra vel.
            </h3></p>
    </div>
    <div class="c1">
        <img src="{{ url_for('static', filename='images/Sandeep.jpg') }}" class="name">
        <h3>Sandeep Jagdale</h3>
        <p><h3>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor i
            ncididunt ut labore et dolore magna aliqua
            . Morbi non arcu risus quis varius quam
            quisque. Urna et pharetra pharetra massa
            massa. Rutrum quisque non tellus orci ac
            auctor augue mauris. Et tortor consequat
            id porta nibh. Orci dapibus ultrices in
            iaculis nunc sed. Ac tincidunt vitae
            semper quis lectus nulla. Facilisis
            mauris sit amet massa vitae tortor
            condimentum lacinia. Urna porttitor
            rhoncus dolor purus non enim. Est lorem
            ipsum dolor sit amet consectetur adip
            iscing. Quam id leo in vitae. Nulla ali
            quet enim tortor at auctor urna. Augue
            ut lectus arcu bibendum at varius vel
            pharetra vel.
            </h3></p>
    </div>


    <div class="c1">
        <img src="{{ url_for('static', filename='images/Prashant.jpg') }}" class="name">
        <h3>Prashant Barai</h3>
        <p><h3>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor i
            ncididunt ut labore et dolore magna aliqua
            . Morbi non arcu risus quis varius quam
            quisque. Urna et pharetra pharetra massa
            massa. Rutrum quisque non tellus orci ac
            auctor augue mauris. Et tortor consequat
            id porta nibh. Orci dapibus ultrices in
            iaculis nunc sed. Ac tincidunt vitae
            semper quis lectus nulla. Facilisis
            mauris sit amet massa vitae tortor
            condimentum lacinia. Urna porttitor
            rhoncus dolor purus non enim. Est lorem
            ipsum dolor sit amet consectetur adip
            iscing. Quam id leo in vitae. Nulla ali
            quet enim tortor at auctor urna. Augue
            ut lectus arcu bibendum at varius vel
            pharetra vel.
            </h3></p>
    </div>
    <div class="c1">
        <img src="{{ url_for('static', filename='images/Sumeet.jpg') }}" class="name">
        <h3>Sumeet Janyani</h3>
        <p><h3>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor i
            ncididunt ut labore et dolore magna aliqua
            . Morbi non arcu risus quis varius quam
            quisque. Urna et pharetra pharetra massa
            massa. Rutrum quisque non tellus orci ac
            auctor augue mauris. Et tortor consequat
            id porta nibh. Orci dapibus ultrices in
            iaculis nunc sed. Ac tincidunt vitae
            semper quis lectus nulla. Facilisis
            mauris sit amet massa vitae tortor
            condimentum lacinia. Urna porttitor
            rhoncus dolor purus non enim. Est lorem
            ipsum dolor sit amet consectetur adip
            iscing. Quam id leo in vitae. Nulla ali
            quet enim tortor at auctor urna. Augue
            ut lectus arcu bibendum at varius vel
            pharetra vel.
            </h3></p>
    </div>

</body>
</html>